---
//@ts-nocheck
import Layout from "../layouts/layout.astro";
import MenuPopover from "../components/menuPopover.astro";
import BilletPopover from "../components/billetPopover.astro";
import "../styles/global.css";

import { Image } from "astro:assets";
import hm1 from "../assets/hm1.webp";
import hm2 from "../assets/hm2.webp";
import hm3 from "../assets/hm3.webp";
import billetter from "../assets/billetter.webp";
import solen from "../assets/solen.webp";
---

<Layout>
  <section class="mainSection">
    <!-- Slideshow container -->
    <div class="slideshow-container">
      <Image
        class="mySlides fade"
        src={hm1}
        alt="Høst Møn Festival"
        style="width:100%"
      />
      <Image
        class="mySlides fade"
        src={hm2}
        alt="Høst Møn Festival"
        style="width:100%"
      />
      <Image
        class="mySlides fade"
        src={hm3}
        alt="Høst Møn Festival"
        style="width:100%"
      />
    </div>

    <button popovertarget="billetPopover"
      ><Image
        src={billetter}
        alt="Knap til at købe billetter"
        class="billetter"
      />
    </button>

    <Image src={solen} alt="Solen man kan klikke på" class="solen" />
  </section>

  <MenuPopover />
  <BilletPopover />

  <script src="../js/background.js"></script>
  <script src="../js/slideshow.js"></script>
</Layout>

<style>
  .slideshow-container {
    border-radius: 999px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }

  .solen {
    width: 100%;
    justify-self: right;
  }

  .billetter {
    width: 100%;
    justify-self: center;
  }

  .billetter:hover {
    cursor: pointer;
    filter: saturate(130%);
  }

  .solen:hover {
    cursor: pointer;
    filter: saturate(130%);
  }

  .mainSection {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1.5fr;
    gap: 1rem;
    align-items: center;
  }

  @media screen and (max-width: 800px) {
    .mainSection {
      display: grid;
      grid-template-columns: 1.8fr 1fr;
      gap: 1rem;
      align-items: center;
    }
  }
</style>
