---
//@ts-nocheck
import ProgramPopover from "./programPopover.astro";
import ArkivPopover from "./arkivPopover.astro";

import FrivilligePopover from "./frivilligePopover.astro";
import MaltidetPopover from "./maltidetPopover.astro";
import OmhostmonPopover from "./omhostmonPopover.astro";
import OmimpactPopover from "./omimpactPopover.astro";
import PladsenPopover from "./pladsenPopover.astro";

import "../styles/global.css";

import { Image } from "astro:assets";
import luk from "../assets/luk.webp";
import arkiv from "../assets/arkiv.webp";
import maltid from "../assets/maltid.webp";
import program from "../assets/program.webp";
import frivillig from "../assets/frivillig.webp";
import playliste from "../assets/playliste.webp";
import omhostmon from "../assets/omhostmon.webp";
import omimpact from "../assets/omimpact.webp";
import ompladsen from "../assets/ompladsen.webp";
---

<div popover id="menuPopover">
  <div class="stickyBox">
    <button popovertarget="menuPopover" id="close_btn" class="lukBtn"
      ><Image src={luk} alt="Luk knap" /></button
    >
  </div>

  <section class="billetter">
    <div>
      <button popovertarget="arkivPopover"
        ><Image
          src={arkiv}
          alt="Tryk her for at se Arkiv"
          class="menuCta"
        /></button
      >
      <button popovertarget="maltidetPopover"
        ><Image
          src={maltid}
          alt="Tryk her for at se læse om måltidet"
          class="menuCta"
        /></button
      >
    </div>

    <div>
      <button popovertarget="programPopover"
        ><Image
          src={program}
          alt="Tryk her for at se musikprogrammet"
          class="menuCta"
        /></button
      >
    </div>

    <div>
      <button popovertarget="frivilligePopover"
        ><Image
          src={frivillig}
          alt="Tryk her for at læse om at blive frivillig"
          class="menuCta"
        /></button
      >
      <a href=""
        ><Image
          src={playliste}
          alt="Tryk her for at gå til playliste med alle kunstnerne"
          class="menuCta"
        /></a
      >
    </div>

    <div>
      <button popovertarget="omhostmonPopover"
        ><Image
          src={omhostmon}
          alt="Tryk her for at læse om Høst Møn Festival"
          class="menuCta"
        /></button
      >
      <button popovertarget="omimpactPopover"
        ><Image
          src={omimpact}
          alt="Tryk her for at læse om Impact Festival"
          class="menuCta"
        /></button
      >
    </div>

    <div>
      <button popovertarget="pladsenPopover"
        ><Image
          src={ompladsen}
          alt="Tryk her for at læse om pladsen"
          class="menuCta"
        /></button
      >
    </div>
  </section>
</div>

<ArkivPopover />
<ProgramPopover />

<FrivilligePopover />
<MaltidetPopover />
<OmhostmonPopover />
<OmimpactPopover />
<PladsenPopover />

<style>
  section {
    display: grid;
    grid-template-columns: 0.5fr 1.2fr 0.8fr 0.5fr 0.5fr;
    gap: 1rem;
    padding: 4rem;
    padding-top: 1rem;
  }

  #menuPopover {
    background: none;
    border: none;
  }

  .menuCta {
    padding-bottom: 1rem;
  }

  @media screen and (max-width: 800px) {
    #menuPopover {
      width: 100%;
      max-height: 100vh;
    }

    section {
      display: grid;
      grid-template-columns: 0.8fr 1fr;
      gap: 1rem;
    }
  }
</style>
